<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"/>
        <activity
            android:name="com.example.myrights.viewmodel.equality.Equality"
            android:exported="false"
            android:label="@string/title_activity_equality" />
        <activity
            android:name="com.example.myrights.viewmodel.freedom.Freedom"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.exploitation.Exploitation"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.religion.Religion"
            android:exported="false" />
        <activity
            android:name=".viewmodel.cultural.Cultural"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.remedies.Remedies"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.freedom.Freedom2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.equality.Equality2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.exploitation.Exploitation2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.religion.Religion2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.cultural.Cultural2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.remedies.Remedies2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.vote.Vote2"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.Website"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.VoilationRules"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.types.Prohibition"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.types.Quowarranto"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.types.Cretoria"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.types.Mandamus"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.types.HabesCorpus"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.video.Hvedio"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.video.Provedio"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.video.Crevedio"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.video.Quovedio"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.violation.video.Mandveedio"
            android:exported="false" />
        <activity
            android:name="com.example.myrights.viewmodel.Web2"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>